body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 8px 10px 8px 10px;
    background-color: black;
    height: fit-content;
}
.navbar-title{
    font-size: 25px;
    padding: 8px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row-reverse;
}
.navbar-title a{
    text-decoration: none;
    line-height: 150%;
}
.wiki-search-form{
    margin-right: 20px;
}
.navbar-title a:link, .navbar-title a:visited, .navbar-title a:hover, .navbar-title a:active{
    color: white;
}
.navbar-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.navbar-list li{
    list-style: none;
    margin-right: 20px;
    font-size: 17px;
    white-space: nowrap;
    line-height: 300%;
}
.navbar-list a:link, .navbar-list a:visited{
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-list a:hover,.navbar-list a:active{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.wiki-search{
    outline: none;
    border: none;
    border-radius: 0px 10px 0px 10px ;
    padding: 7px;
    font-size: 14px;
}

@media only screen and (max-width: 800px){
    .navbar-list{
        flex-direction: column-reverse;
    }
    .navbar-title{
        flex-direction: column;
        height: fit-content;
        padding: 0;
    }
    .navbar-title a{
        line-height: normal;
    }
    .navbar-list li{
        margin-bottom:20px;
        line-height: normal;
    }
    .wiki-search-form{
        margin-top: 12px;
    }
}

