body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(2, 2, 83);
    height: fit-content;
}
.navbar-title{
    font-size: 25px;
    padding: 8px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row-reverse;
}
.navbar-title a{
    text-decoration: none;
    padding: 8px 10px 8px 10px;
    line-height: 150%;
}
.wiki-search-form{
    padding: 8px 10px 8px 10px;
}
.navbar-title a:link, .navbar-title a:visited, .navbar-title a:hover, .navbar-title a:active{
    color: white;
}
.navbar-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.navbar-list li{
    list-style: none;
    font-size: 17px;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
.navbar-list a:active, .navbar-list a:link, .navbar-list a:visited{
    color: white;
}
.navbar-list a{
    padding: 8px 20px 8px 20px;
    margin: 0px; 
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%; 
    height: 100%; 
    line-height: 300%;
}
.navbar-list li:hover{
    background-color: rgb(1, 1, 32);
    border-radius: 0px 10px 0px 10px;
}
.wiki-search{
    outline: none;
    border: none;
    border-radius: 0px 10px 0px 10px ;
    padding: 7px;
    font-size: 14px;
}
.main{
    margin: 10px;
    padding-left: 10px;
}
.rounded-list
    {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* Remove default numbering */
        *list-style: decimal; /* Keep using default numbering for IE6/7 */
        font: 15px 'trebuchet MS', 'lucida sans';
        margin-bottom: 4em;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
      }
      .rounded-list a{
        position: relative;
        display: block;
        padding: .8em .4em .6em 2em;
        *padding: .6em;
        margin: .7em 0;
        background: rgb(31, 1, 71);
        color:  white;
        text-decoration: none;
        border-radius: 10px 10px 0 0;
        transition: all .3s ease-out;
      }
    
      .rounded-list a:hover{
        background:#430496;
      }
    
      .rounded-list a:hover:before{
        transform: rotate(360deg);
      }
    
      .rounded-list a:before{
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #5e04d4;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        border-radius: 2em;
        transition: all .3s ease-out;
      }
@media only screen and (max-width: 800px){
    .navbar-list{
        flex-direction: column-reverse;
    }
    .navbar-title{
        flex-direction: column;
        height: fit-content;
        padding: 0;
    }
    .navbar-title a{
        line-height: normal;
    }
    .navbar-list li{
        margin-bottom:20px;
        line-height: normal;
    }
    .wiki-search-form{
        margin-top: 12px;
    }
}
.navbar > .navbar-list a.link.active { color:white; }

